<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/alerts.css" rel="stylesheet" />
    <link href="~/css/styleFormUnicProv.css" rel="stylesheet" />
    <link href="~/images/icono-web.webp" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Proveedores USC</title>

    <!-- jQuery (obligatorio para Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
    <main class="main-page-container">
        @Html.Partial("_NavAdmin")
        <section class="page-content">
            <div class="content-header">
				<h1>Formato Único de Conocimiento de Proveedores</h1>
            </div>

            <div class="row d-flex justify-content-around align-items-center card flex-row m-2 p-2">
                <div class="col form-group d-block custom-input-group">
                    <label for="personType" class="form-label">Seleccione el Tipo de Persona:</label>
                    <select id="personType" class="form-control">
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="natural">Persona Natural</option>
                        <option value="juridica">Persona Jurídica</option>
                    </select>
                </div>

                <div id="idSection" class="col form-group d-block input-wrapper">
                    <input type="number" id="idNum" name="idNum" placeholder="Número" class="form-control" />
                    <label for="idNum" class="form-label adaptive-label" placeholder="Número de Identificación" alt="Número de Identificación"></label>
                </div>
                <div>
                    <button id="consultBtn" type="button" class="col btn btn-primary">Consultar</button>
                </div>
            </div>
            
            
            <div id="alertContainer"></div>
            <!-- form de persona natural-->
            <form id="persNatuForm" class="form-section" style="display:none;">

                <div class="justify-content-around align-items-center flex-row m-2 p-2">
                    <h2>Persona Natural</h2>
                </div>
                
                <div>
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="text" id="pnNombreCompl" name="pnNombreCompl" class="form-control" required />
                            <label for="pnNombreCompl" class="form-label adaptive-label" placeholder="Nombre Completo" alt="Nombre Completo"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group d-block custom-input-group">
                            <label for="pnTipoNacionalidad" class="form-label">Nacionalidad</label>
                            <select id="pnTipoNacionalidad" class="form-control">
                                <option value="" disabled selected>Seleccione una opcion</option>
                                <option value="Nacional">Nacional</option>
                                <option value="Extranjero">Extranjero</option>
                            </select>
                        </div>
                        <div class="form-group d-block custom-input-group">
                            <label for="pnTipoDoc" class="form-label">Tipo de Documento</label>
                            <select id="pnTipoDoc" class="form-control">
                                <option value="" disabled selected>Seleccione un documento</option>
                            </select>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pnNumId" name="pnDocNum" class="form-control no-edit" required />
                            <label for="pnNumId" class="form-label adaptive-label disabled-label" placeholder="Número de documento" alt="Número de documento"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col-5 mb-3 form-group input-wrapper">
                            <input type="date" id="pnFechaExpDoc" name="pnFechaExpDoc" class="form-control" required />
                            <label for="pnFechaExpDoc" class="form-label adaptive-label" placeholder="Fecha de Expedición de Documento" alt="Fecha de Expedición de Documento"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnDepExpDoc" class="form-label">Departamento de Expedición de Documento</label>
                            <select id="pnDepExpDoc" name="pnDepExpDoc" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnCiuExpDoc" class="form-label">Ciudad de Expedición de Documento</label>
                            <select id="pnCiuExpDoc" name="pnCiuExpDoc" class="form-control" required></select>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnNacionalidad" class="form-label">Nacionalidad/Pais</label>
                            <select id="pnNacionalidad" name="pnNacionalidad" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnEstadoNac" class="form-label">Departamento de nacimiento</label>
                            <select id="pnEstadoNac" name="pnEstadoNac" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnCiudadNac" class="form-label">Ciudad de nacimiento</label>
                            <select id="pnCiudadNac" name="pnCiudadNac" class="form-control" required></select>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col mb-3 form-group input-wrapper">
                            <input type="date" id="pnFechaNac" name="pnFechaNac" class="form-control" required />
                            <label for="pnFechaNac" class="form-label adaptive-label" placeholder="Fecha de Nacimiento" alt="Fecha de Nacimiento"></label>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="text" id="pnDiResidencia" name="pnDiResidencia" class="form-control" required />
                            <label for="pnDiResidencia" class="form-label adaptive-label" placeholder="Dirección de Residencia" alt="Dirección de Residencia"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnDepRes" class="form-label">Departamento de Residencia</label>
                            <select id="pnDepRes" name="pnDepRes" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnCiudadRes" class="form-label">Ciudad de Residencia</label>
                            <select id="pnCiudadRes" name="pnCiudadRes" class="form-control" required></select>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pnTelefono" name="pnTelefono" class="form-control"/>
                            <label for="pnTelefono" class="form-label adaptive-label" placeholder="Teléfono Fijo" alt="Teléfono Fijo"></label>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pnCelular" name="pnCelular" class="form-control"/>
                            <label for="pnCelular" class="form-label adaptive-label" placeholder="Teléfono Celular" alt="Teléfono Celular"></label>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="email" id="pnEmail" name="pnEmail" class="form-control" required/>
                            <label for="pnEmail" class="form-label adaptive-label" placeholder="Correo Electrónico" alt="Correo Electrónico"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group input-wrapper">
                            <input type="text" id="pnOficProfe" name="pnOficProfe" class="form-control" required/>
                            <label for="pnOficProfe" class="form-label adaptive-label" placeholder="Oficio o Profesión" alt="Oficio o Profesión"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pnActividad" class="form-label">Actividad:</label>
                            <select id="pnActividad" name="pnActividad" class="form-control">
                                <option value="" disabled selected>Seleccione una opción</option>
                                <option value="dependiente">Dependiente</option>
                                <option value="independiente">Independiente</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <h4 class="sub-header">Marque según su perfil, cargo y/u ocupación</h4>
                        <div class="row d-flex">
                            <div class="col form-group input-wrapper form-check">
						        <label>Goza de Reconocimiento Público:</label>
                                <div class="d-flex">
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnReconoPblSi" name="pnReconoPublic" value="Si" class="form-check-input" /><label for="pnReconoPblSi" class="form-check-label">Sí</label>
                                    </div>
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnReconoPblNo" name="pnReconoPublic" value="No" class="form-check-input" /><label for="pnReconoPblNo" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col form-group input-wrapper form-check">
                                <label>Maneja Recursos Públicos:</label>
						        <div class="d-flex">
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnManRePubSi" name="pnManRePub" value="Si" class="form-check-input" /><label for="pnManRePubSi" class="form-check-label">Sí</label>
                                    </div>
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnManRePubNo" name="pnManRePub" value="No" class="form-check-input" /><label for="pnManRePubNo" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col form-group input-wrapper form-check">
                                <label>Es Persona Expuesta Politicamente:</label>
                                <div class="d-flex">
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnPEPSi" name="pnPEP" value="Si" class="form-check-input"/><label for="pnPEPSi" class="form-check-label">Sí</label>
                                    </div>
                                    <div class="form-check m-2">
                                        <input type="radio" id="pnPEPNo" name="pnPEP" value="No" class="form-check-input"/><label for="pnPEPNo" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col form-group input-wrapper form-check" >
                                <label>Tipo de PEP:</label>
                                <div class="d-flex" id="pnPEPtypeGroup" style="display:none;">
                                    <div class="form-check m-2">
                                        <input type="checkbox" id="pnPEP-Nac" name="pnPEPType" value="1" class="form-check-input"/><label for="pnPEP-Nac" class="form-check-label">PEP Nacional</label>
                                    </div>
                                    <div class="form-check m-2">
                                        <input type="checkbox" id="pnPEP-OrgInt" name="pnPEPType" value="2" class="form-check-input"/><label for="pnPEP-OrgInt" class="form-check-label">PEP Org.Internacional</label>
                                    </div>
                                    <div class="form-check m-2">
                                        <input type="checkbox" id="pnPEP-Ext" name="pnPEPType" value="3" class="form-check-input"/><label for="pnPEP-Ext" class="form-check-label">PEP Extranjero</label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group input-wrapper" id="pnPEP_Entidad_Container" style="display:none;">
                                <input type="text" id="pnPEP_Entidad" name="pnPEP_Entidad" class="form-control" required />
                                <label for="pnPEP_Entidad" class="form-label adaptive-label" placeholder="En caso afirmativo señale la entidad" alt="En caso afirmativo señale la entidad"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- form de persona juridica-->
            <form id="persJuriForm" class="form-section" style="display:none;">

                <div class="justify-content-around align-items-center flex-row m-2 p-2">
                    <h2>Persona Jurídica</h2>
                </div>
                
                <div>
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="text" id="pjRazSocial" name="pjRazSocial" class="form-control" required />
                            <label for="pjRazSocial" class="form-label adaptive-label" placeholder="Razón Social" alt="Razón Social"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="number" id="pjNIT" name="pjNIT" class="form-control no-edit" required/>
                            <label for="pjNIT" class="form-label adaptive-label disabled-label" placeholder="NIT" alt="NIT"></label>
                        </div>
                    </div>

                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <h3 class="sub-header">Direcciones</h3>
                        <div class="d-flex">
                            <div class="form-group input-wrapper">
                                <input type="text" id="pjDirPrincipal" name="pjDirPrincipal" class="form-control" required />
                                <label for="pjDirPrincipal" class="form-label adaptive-label" placeholder="Dirección Oficina Principal" alt="Dirección Oficina Principal"></label>
                            </div>
                            <div class="form-group d-block custom-input-group">
                                <label for="pjDepartDirPrincipal" class="form-label">Departamento:</label>
                                <select id="pjDepartDirPrincipal" name="pjDepartDirPrincipal" class="form-control" required></select>
                            </div>
                            <div class="form-group d-block custom-input-group">
                                <label for="pjCiudadDirPrincipal" class="form-label">Ciudad:</label>
                                <select id="pjCiudadDirPrincipal" name="pjCiudadDirPrincipal" class="form-control" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="email" id="pjEmailDirPrincipal" name="pjEmailDirPrincipal" class="form-control" required />
                            <label for="pjEmailDirPrincipal" class="form-label adaptive-label" placeholder="E-mail" alt="E-mail"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="number" id="pjTelDirPrincipal" name="pjTelDirPrincipal" class="form-control" required />
                            <label for="pjTelDirPrincipal" class="form-label adaptive-label" placeholder="Teléfono" alt="Teléfono"></label>
                        </div>
                    </div>

                    <div id="sucursales-container">
                        <div class="sucursal-item justify-content-around align-items-center flex-row m-2 p-2" id="sucursal_1">
                            <h4>Dirección sucursal 1</h4>
                            <div class="d-flex">
                                <div class="form-group input-wrapper">
                                    <input type="text" id="pjDirSucursal_1" name="pjDirSucursal_1" class="form-control" required />
                                    <label for="pjDirSucursal_1" class="form-label adaptive-label" placeholder="Dirección Sucursal" alt="Dirección Sucursal"></label>
                                </div>
                                <div class="form-group d-block custom-input-group">
                                    <label for="pjDepartDirSucursal_1" class="form-label">Departamento</label>
                                    <select id="pjDepartDirSucursal_1" name="pjDepartDirSucursal_1" class="form-control" required></select>
                                </div>
                                <div class="form-group d-block custom-input-group">
                                    <label for="pjCiudadDirSucursal_1" class="form-label">Ciudad</label>
                                    <select id="pjCiudadDirSucursal_1" name="pjCiudadDirSucursal_1" class="form-control" required></select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                                <div class="form-group input-wrapper">
                                    <input type="email" id="pjEmailDirSucursal_1" name="pjEmailDirSucursal_1" class="form-control" required />
                                    <label for="pjEmailDirSucursal_1" class="form-label adaptive-label" placeholder="E-mail" alt="E-mail"></label>
                                </div>
                                <div class="form-group input-wrapper">
                                    <input type="number" id="pjTelDirSucursal_1" name="pjTelDirSucursal_1" class="form-control" required />
                                    <label for="pjTelDirSucursal_1" class="form-label adaptive-label" placeholder="Teléfono" alt="Teléfono"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group">
                            <button id="addSucursalBtn" type="button" class="button-group btn btn-primary">Agregar Sucursal</button>
                        </div>
                    </div>

                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <p class="sub-header">
                            Identifique la persona natural que ejerza control sobre la persona juridica o que sea titular, directa o indirectamente, del cinco por ciento (5%)
                            o más del capital o derechos de voto y/o se beneficie en un cinco por ciento (5%) o mas de los rendimientos, utilidades o Activos.
                        </p>
                        <p>En caso de requerir más espacios debe anexarse la relación.</p>
                    </div>

                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <table class="table table-hover" id="control-table">
                            <thead>
                                <tr>
                                    <th scope="col">Razón Social o Nombre Completo</th>
                                    <th scope="col">Tipo de Identificación</th>
                                    <th scope="col">Número de Identificación</th>
                                    <th scope="col">Porcentaje de Participación (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="control-row">
                                    <td><input type="text" class="form-control" name="controlRazonSocial[]" style="width:100%;" /></td>
                                    <td>
                                        <select class="form-control" name="controlIdType[]">
                                            <option value="" disabled selected>Seleccione</option>
                                            <option value="CC">CC</option>
                                            <option value="NIT">NIT</option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="form-control" name="controlIdNum[]" style="width:100%;" /></td>
                                    <td><input type="number" class="form-control" name="controlPorcentaje[]" style="width:100%;" /></td>
                                    <td><button type="button" class="remove-control-row button-group btn btn-primary">Eliminar</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <button id="addControlRowBtn" type="button" class="button-group button-group btn btn-primary">Agregar Fila</button>
                    </div>

                    <!-- Subform de representante legal-->
                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <h3>Información del Representante Legal</h3>
                    </div>
                    <div class="d-flex justify-content-around align-items-center  m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="text" id="pjNomReLeg" name="pjNomReLeg" class="form-control"/>
                            <label for="pjNomReLeg" class="form-label adaptive-label" placeholder="Nombre Completo" alt="Nombre Completo"></label>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group d-block custom-input-group">
                            <label for="pjRLTipNacionalidad" class="form-label">Nacionalidad</label>
                            <select id="pjRLTipNacionalidad" class="form-control">
                                <option value="" disabled selected>Seleccione una opcion</option>
                                <option value="Nacional">Nacional</option>
                                <option value="Extranjero">Extranjero</option>
                            </select>
                        </div>
                        <div class="form-group d-block custom-input-group">
                            <label for="pjRLTipoDoc" class="form-label">Tipo de Documento</label>
                            <select id="pjRLTipoDoc" class="form-control">
                                <option value="" disabled selected>Seleccione un documento</option>
                            </select>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pjRLDocNum" name="pjRLDocNum" class="form-control no-edit" required />
                            <label for="pjRLDocNum" class="form-label adaptive-label disabled-label" placeholder="Número de documento" alt="Número de documento"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col mb-3 form-group input-wrapper">
                            <input type="date" id="pjRLFechExpDoc" name="pjRLFechExpDoc" class="form-control" required />
                            <label for="pjRLFechExpDoc" class="form-label adaptive-label" placeholder="Fecha de Expedición de Documento" alt="Fecha de Expedición de Documento"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pjRLDepExpDoc" class="form-label">Departamento de Expedición de Documento</label>
                            <select id="pjRLDepExpDoc" name="pjRLDepExpDoc" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pjRLCiuExpDoc" class="form-label">Ciudad de Expedición de Documento</label>
                            <select id="pjRLCiuExpDoc" name="pjRLCiuExpDoc" class="form-control" required></select>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col mb-3 form-group input-wrapper">
                            <input type="date" id="pjRLFechaNac" name="pjRLFechaNac" class="form-control" required />
                            <label for="pjRLFechaNac" class="form-label adaptive-label" placeholder="Fecha de Nacimiento" alt="Fecha de Nacimiento"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pjRLNacionalidad" class="form-label">Nacionalidad/Pais:</label>
                            <select id="pjRLNacionalidad" name="pjRLNacionalidad" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pjRLDepartNac" class="form-label">Departamento de nacimiento::</label>
                            <select id="pjRLDepartNac" name="pjRLDepartNac" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pjRLCiudadNac" class="form-label">Ciudad de nacimiento:</label>
                            <select id="pjRLCiudadNac" name="pjRLCiudadNac" class="form-control" required></select>
                        </div>
                    </div>
                </div>
            </form>

            <!--form conocimiento proveedores (tanto para persona natural como juridica)-->
            <form id="provForm" class="form-section" style="display: none;">

                <div class="justify-content-around align-items-center flex-row m-2 p-2">
                    <h3>Información Financiera y Tributaria (Persona Natural / Jurídica)</h3>
                </div>

                <div>
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvIngrMens" name="pvIngrMens" class="form-control" required />
                            <label for="pvIngrMens" class="form-label adaptive-label" placeholder="Ingresos Mensuales $" alt="Ingresos Mensuales $"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvEgrMens" name="pvEgrMens" class="form-control" required />
                            <label for="pvEgrMens" class="form-label adaptive-label" placeholder="Egresos Mensuales $" alt="Egresos Mensuales $"></label>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvActivos" name="pvActivos" class="form-control" required />
                            <label for="pvActivos" class="form-label adaptive-label" placeholder="Activos $" alt="Activos $"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvPasivos" name="pvPasivos" class="form-control" required />
                            <label for="pvPasivos" class="form-label adaptive-label" placeholder="Pasivos $" alt="Pasivos $"></label>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvPatrimonio" name="pvPatrimonio" class="form-control" required />
                            <label for="pvPatrimonio" class="form-label adaptive-label" placeholder="Patrimonio $" alt="Patrimonio $"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvOtrIngr" name="pvOtrIngr" class="form-control" required />
                            <label for="pvOtrIngr" class="form-label adaptive-label" placeholder="Otros Ingresos $" alt="Otros Ingresos $"></label>
                        </div>
                    </div>
                    
                    <div class="justify-content-around align-items-center flex-row m-2 p-2">
                        <h5>Origen de capital:</h5>
                        <div class="d-flex">
                            <div class="form-group input-wrapper">
                                <input type="number" id="pvPorNacional" name="pvPorNacional" class="form-control" required />
                                <label for="pvPorNacional" class="form-label adaptive-label" placeholder="Porcentaje Nacional (%)" alt="Porcentaje Nacional (%)"></label>
                            </div>
                            <div class="form-group input-wrapper">
                                <input type="number" id="pvPorExtranjero" name="pvPorExtranjero" class="form-control" required />
                                <label for="pvPorExtranjero" class="form-label adaptive-label" placeholder="Porcentaje Extranjero (%)" alt="Porcentaje Extranjero (%)"></label>
                            </div>
                            <div class="form-group d-block custom-input-group">
                                <label for="pvPorPais" class="form-label">País:</label>
                                <select id="pvPorPais" name="pvPorPais" class="form-control" required></select>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group form-check">
                            <h6>Tipo de Empresa</h6>
                            <div class="d-flex">
                                <div class="form-check m-2">
                                    <input type="radio" id="pvEmPublica" name="pvTipEmp" value="EmPublica" class="form-check-input" /><label for="pvEmPublica" class="form-check-label">Pública</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvEmPrivada" name="pvTipEmp" value="EmPrivada" class="form-check-input" /><label for="pvEmPrivada" class="form-check-label">Privada</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvEmMixta" name="pvTipEmp" value="EmMixta" class="form-check-input" /><label for="pvEmMixta" class="form-check-label">Mixta</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvEmOtra" name="pvTipEmp" value="pvEmOtra" class="form-check-input" /><label for="pvEmOtra" class="form-check-label">Otra</label>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="text" id="pvAcEconomica" name="pvAcEconomica" class="form-control" required />
                            <label for="pvAcEconomica" class="form-label adaptive-label" placeholder="Actividad Económica" alt="Actividad Económica"></label>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pvCodCIIU" name="pvCodCIIU" class="form-control" required />
                            <label for="pvCodCIIU" class="form-label adaptive-label" placeholder="Código CIIU" alt="Código CIIU"></label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="number" id="pvCapSocReg" name="pvCapSocReg" class="form-control" required />
                            <label for="pvCapSocReg" class="form-label adaptive-label" placeholder="Capital social registrado" alt="Capital social registrado"></label>
                        </div>
                        <div class="mb-3 form-group input-wrapper">
                            <input type="date" id="pvFechConst" name="pvFechConst" class="form-control" required />
                            <label for="pvFechConst" class="form-label adaptive-label" placeholder="Fecha de Constitución" alt="Fecha de Constitución"></label>
                        </div>
                        <div class="mb-3 form-group input-wrapper">
                            <input type="date" id="pvFechVen" name="pvFechVen" class="form-control" required />
                            <label for="pvFechVen" class="form-label adaptive-label" placeholder="Fecha Vencimiento" alt="Fecha Vencimiento"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group form-check">
                            <h6>Gran Contribuyente</h6>
                            <div class="d-flex">
                                <div class="form-check m-2">
                                    <input type="radio" id="pvGrConSi" name="pvGrCon" value="Si" class="form-check-input"/><label for="pvGrConSi" class="form-check-label">Si</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvGrConNo" name="pvGrCon" value="No" class="form-check-input" /><label for="pvGrConNo" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="date" id="pvFechResolGC" name="pvFechResolGC" class="form-control" required />
                            <label for="pvFechResolGC" class="form-label adaptive-label" placeholder="Fecha resolución Gran Contribuyente" alt="Fecha resolución Gran Contribuyente"></label>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pvNumResolGC" name="pvNumResolGC" class="form-control" required />
                            <label for="pvNumResolGC" class="form-label adaptive-label" placeholder="Número resolución Gran Contribuyente" alt="Número resolución Gran Contribuyente"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group form-check">
                            <h6>Declarante Industria y Comercio</h6>
                            <div class="d-flex">
                                <div class="form-check m-2">
                                    <input type="radio" id="pvDeclIndComSi" name="pvDeclIndCom" value="Si" class="form-check-input" /><label for="pvDeclIndComSi" class="form-check-label">Si</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvDeclIndComNo" name="pvDeclIndCom" value="No" class="form-check-input" /><label for="pvDeclIndComNo" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pvDepartDec" class="form-label">Departamento</label>
                            <select id="pvDepartDec" name="pvDepartDec" class="form-control" required></select>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pvCiudadDec" class="form-label">Ciudad</label>
                            <select id="pvCiudadDec" name="pvCiudadDec" class="form-control" required></select>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center flex-row m-2 p-2">
                        <div class="col form-group form-check">
                            <h6>Auto Retenedor:</h6>
                            <div class="d-flex">
                                <div class="form-check m-2">
                                    <input type="radio" id="pvAutRetSi" name="pvAutRet" value="Si" class="form-check-input"/><label for="pvAutRetSi" class="form-check-label">Si</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvAutRetNo" name="pvAutRet" value="No" class="form-check-input" /><label for="pvAutRetNo" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pvNumResDIAN" name="pvNumResDIAN" class="form-control" required />
                            <label for="pvNumResDIAN" class="form-label adaptive-label" placeholder="N° Resolución DIAN" alt="N° Resolución DIAN"></label>
                        </div>
                    </div>

                    <div class="justify-content-around align-items-center m-2 p-2">
                        <h3>Mercancía y Comercio Exterior</h3>
                    </div>

                    <div class="d-flex justify-content-around align-items-center m-2 p-2">
                        <div class="form-group input-wrapper">
                            <input type="text" id="pvForPag" name="pvForPag" class="form-control" required />
                            <label for="pvForPag" class="form-label adaptive-label" placeholder="Forma de pago de operaciones comercio exterior" alt="Forma de pago de operaciones comercio exterior"></label>
                        </div>
                        <div class="form-group input-wrapper">
                            <input type="text" id="pvEntBenef" name="pvEntBenef" class="form-control" required />
                            <label for="pvEntBenef" class="form-label adaptive-label" placeholder="Personas o empresas beneficiarias de operaciones de comercio exterior" alt="Personas o empresas beneficiarias de operaciones de comercio exterior"></label>
                        </div>
                    </div>

                    <div class="justify-content-around align-items-center m-2 p-2">
                        <h3>Información de la Cuenta de Pagos</h3>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center m-2 p-2">
                        <div class="col form-group form-check">
                            <h6>Posee cuenta bancaria:</h6>
                            <div class="d-flex">
                                <div class="form-check m-2">
                                    <input type="radio" id="pvPosCuBanSi" name="pvPosCuBan" value="Si" class="form-check-input"/><label for="pvPosCuBanSi" class="form-check-label">Si</label>
                                </div>
                                <div class="form-check m-2">
                                    <input type="radio" id="pvPosCuBanNo" name="pvPosCuBan" value="No" class="form-check-input"/><label for="pvPosCuBanNo" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col form-group input-wrapper">
                            <input type="text" id="pvEntidad" name="pvEntidad" class="form-control" required />
                            <label for="pvEntidad" class="form-label adaptive-label" placeholder="Entidad" alt="Entidad"></label>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around align-items-center m-2 p-2">
                        <div class="col form-group input-wrapper">
                            <input type="number" id="pvNumCueBanc" name="pvNumCueBanc" class="form-control" required />
                            <label for="pvNumCueBanc" class="form-label adaptive-label" placeholder="N° de cuenta" alt="N° de cuenta"></label>
                        </div>
                        <div class="col form-group d-block custom-input-group">
                            <label for="pvClasCueBan" class="form-label">Clase de cuenta</label>
                            <select id="pvClasCueBan" name="pvClasCueBan" class="form-control">
                                <option value="" disabled selected>Seleccione</option>
                                <option value="Ahorros">Ahorros</option>
                                <option value="Corriente">Corriente</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="justify-content-around align-items-center m-2 p-2">
                        <p class="sub-header">
                            <b>Nota:</b> Nos permitimos informar que aceptamos el pago de todas nuestras facturas a través del sistema automático de pagos, para lo cual
                            autorizamos nos consignen a la cuenta y entidad bancaria aquí señalada.
                        </p>
                    </div>
                    
                    <div class="justify-content-around align-items-center m-2 p-2">
                        <p id="declAutTrigger" class="interactive-text sub-header">
                            Declaraciones y Autorizaciones. (Hacer click)
                        </p>
                    </div>

                    <div class="button-group">
                        <button type="button" id="submitPrvBtn" class="btn btn-primary">Guardar Proveedor</button>
                    </div>
                </div>
            </form>

        </section>


    </main>

    <!--subform de direccion estructurada estandar-->
    <div id="directionStructure" class="direction-structure">
        <div class="direction-structure-content">
            <h4>Ingrese la Dirección siguiendo el estandar del DANE:</h4>
            <div class="structure-field">
                <label for="tipoVia">Tipo de vía:</label>
                <select id="tipoVia">
                    <option value="" disabled selected>-- Seleccione --</option>
                    <option value="Autopista">Autopista</option>
                    <option value="Avenida">Avenida</option>
					<option value="Calle">Calle</option>
					<option value="Carrera">Carrera</option>
					<option value="Carretera">Carretera</option>
					<option value="Diagonal">Diagonal</option>
					<option value="Transversal">Transversal</option>
                    <option value="Troncal">Troncal</option>
                </select>
            </div>
            <div class="structure-field">
                <label for="vPrincipal">Nom. o N° de la vía principal:</label>
				<input type="text" id="vPrincipal" name="vPrincipal"/>
            </div>
            <div class="structure-field">
				<label for="sufPrincipal">Letra/sufijo principal:</label>
                <input type="text" id="sufPrincipal" name="sufPrincipal" maxlength="2"/>
            </div>
			<div class="structure-field">
				<label for="vSecundaria">Nom. o N° de la vía secundaria:</label>
                <input type="text" id="vSecundaria" name="vSecundaria"/>
			</div>
			<div class="structure-field">
                <label for="sufSecundaria">Letra/sufijo secundaria:</label>
				<input type="text" id="sufSecundaria" name="sufSecundaria" maxlength="2"/>
            </div>
			<div class="structure-field">
                <label for="numPlaca">N° de placa:</label>
				<input type="number" id="numPlaca" name="numPlaca" />
            </div>
            <div class="structure-field">
                <label for="compleDir">Complemento (opcional):</label>
				<input type="text" id="compleDir" name="compleDir" />
            </div>
            <div class="structure-actions">
                <button id="cancelDirBtn" type="button" class="btn btn-secondary">Cancelar</button>
				<button id="saveDirBtn" type="button" class="btn btn-primary">Guardar Dirección</button>
            </div>
        </div>
    </div>

    <!--subform declaraciones y autorizaciones-->
    <div id="declAutorPanel" class="floating-panel">
        <div class="DeclAut-content">
            <h4>Declaraciones y Autorizaciones</h4>
            <div class="panelField">
                <p>
					<b>ORIGEN DE FONDOS Y/O BIENES:</b> Obrando en nombre propio y/o en representación de <input type="text" id="pvDeAuRepresentacion" name="pvDeAuRepresentacion" />,
                    de manera voluntaria y bajo la gravedad del juramento afirmo que todo lo aquí consignado es cierto, veraz y verificable, por lo tanto realizo las siguientes declaraciones: 
                    a) Los recursos de mi propiedad o de la persona jurídica que represento provienen de las siguientes fuentes (ocupación, profesión, objeto social) <input type="text" id="pvFuenteRecur" name="pvFuenteRecur" />;
                    b) Mi actividad, profesión u ocupación y/o de la empresa que represento es lícita y se ejerce dentro del marco legal y los recursos no provienen de actividades ilícitas contempladas en el Código Penal; 
                    c) Que sus socios, accionistas con participación directa o indirecta igual o superior al 5%, o administradores, empleados o beneficiarios finales no presentan registros negativos en las listas tanto 
                    nacionales como internacionales de control y prevención del riesgo del lavado de activos y/o financiación del terrorismo, así como tampoco en ninguna base de datos de índole privada o pública relacionada con 
                    actividades ilícitas asociadas a corrupción y/o soborno transnacional y que pueden ser consultadas para este fin; 
                    d) En desarrollo del objeto social y/o en la ejecución de mi actividad profesional no incurriré en alguna actividad ilícita de las contempladas en el Código Penal o en cualquier otra norma que modifique o 
                    adicione y en consecuencia me obligo a responder frente a LA EMPRESA y/o terceros por todos los perjuicios que se llegaren a causar como consecuencia del incumplimiento de estas afirmaciones; 
                    e) Me obligo a actualizar la información personal, corporativa, societaria, según aplique, así como la información financiera cada vez que haya cambios en la misma y en la medida en que la solicite 
                    LA EMPRESA, suministrando totalidad de los soportes documentales; 
                    f) Los bienes y/o recursos que se deriven de la presente relación contractual no serán destinados para la ejecución de actividades delictivas, así como tampoco, para la promoción y/o financiación de grupos 
                    armados al margen de la ley y en general a personas dedicadas a actividades ilícitas; g) No tiene relación alguna con personas asociadas a actividades delictivas. El incumplimiento de cualquiera de estas 
                    obligaciones aquí contempladas, faculta a LA EMPRESA para terminar de manera inmediata y unilateral el presente contrato y a que éste, efectué de manera inmediata los pagos adeudados a LA EMPRESA.
                </p>
            </div>
            <div class="panelField">
                <p>
					<b>AUTORIZACIÓN PARA EL TRATAMIENTO DE DATOS PERSONALES:</b> Mediante el registro de mis datos personales en el presente formulario, autorizo a (marque con x) para que:<br />
                    <div class="d-flex">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="form-check m-2">
                                <label for="pvTDPMotMaqSI" class="form-check-label">SI</label><input type="radio" id="pvTDPMotMaqSI" name="pvTDPMotMaq" value="SI" class="form-check-input" />
                            </div>
                            <div class="form-check m-2">
                                <label for="pvTDPMotMaqNO" class="form-check-label">NO</label><input type="radio" id="pvTDPMotMaqNO" name="pvTDPMotMaq" value="NO" class="form-check-input" />
                            </div>
                        </div>
                        <div>
                            <p>
                                <b>MOTORES Y MÁQUINAS S.A. BIC - MOTORYSA BIC</b> identificada con NIT 860.019.063-8 ubicada en la dirección
                                Avenida Carrera 68 No. 68B-61 de Bogotá canal de comunicación <b>seguridad_de_datos@moterysa.com</b>,
                                Politica de Tratamiento de Datos Personales publicada en página web <b>www.motorysa.com</b>.
                            </p>
                        </div>
                    </div>
                    
                    
                    <div class="d-flex">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="form-check m-2">
                                <label for="pvTDPCasTorSI" class="form-check-label">SI</label><input type="radio" id="pvTDPCasTorSI" name="pvTDPCasTor" value="SI" class="form-check-input"/>
                            </div>
                            <div class="form-check m-2">
                                <label for="pvTDPCasTorNO" class="form-check-label">NO</label><input type="radio" id="pvTDPCasTorNO" name="pvTDPCasTor" value="NO" class="form-check-input"/>
                            </div>
                        </div>
                        <div>
                            <p>
                                <b>CASATORO S.A. BIC</b> identificada con NIT 830.004.993-8 ubicada en la dirección Avenida Boyacá No. 170-97
                                de Bogotá, canal de comunicación <b>seguridaddedatos@casatoro.com</b>, Politica de Tratamiento de Datos
                                Personales publicada en página web <b>www.casatoro.com</b>.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="form-check m-2">
                                <label for="pvTDPBonapSI" class="form-check-label">SI</label><input type="radio" id="pvTDPBonapSI" name="pvTDPBonap" value="SI" class="form-check-input"/>
                            </div>
                            <div class="form-check m-2">
                                <label for="pvTDPBonapNO" class="form-check-label">NO</label><input type="radio" id="pvTDPBonapNO" name="pvTDPBonap" value="NO" class="form-check-input"/>
                            </div>
                        </div>
                        <div>
                            <p>
                                <b>REPUESTOS, ACCESORIOS Y LUBRICANTES BONAPARTE S.A.S. - BONAPARTE RAL</b> identificada con NIT 900.353.939-1
                                ubicada en la dirección Avenida Boyacá No 170-97 de Bogotá, canal de comunicación <b>seguridaddedatosbp@bonaparte.com</b>,
                                Politica de Tratamiento de Datos Personales publicada en página web <b>www.bonaparte.com</b>.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="form-check m-2">
                                <label for="pvTDPBellpiSI" class="form-check-label">SI</label><input type="radio" id="pvTDPBellpiSI" name="pvTDPBellpi" value="SI" class="form-check-input"/>
                            </div>
                            <div class="form-check m-2">
                                <label for="pvTDPBellpiNO" class="form-check-label">NO</label><input type="radio" id="pvTDPBellpiNO" name="pvTDPBellpi" value="NO" class="form-check-input"/>
                            </div>
                        </div>
                        <div>
                            <p>
                                <b>BELLPI S.A.S</b> identificada con NIT 901.389.327-1 ubicada en la dirección Calle 170 #67-42 de Bogotá,
                                canal de comunicación <b>seguridaddedatos@bellpi.com</b> Politica de Tratamiento de Datos Personales publicada
                                en página wet <b>www.bellpi.com</b>.
                            </p>
                        </div>
                    </div>
                </p>
            </div>
            <div class="panelField">
                <p>
                    Guarde, use, almacene, recolecte, transfiera, transmita a nivel nacional, Internacional y realice el tratamiento de mis datos personales, comerciales y financieros recolectados por medio digital o 
                    escrito con las siguientes finalidades: a) Consultorías, auditorias, asesorías y servicios relacionados; b) Gestión administrativa; c) Gestión de cobros y pagos; d) Gestión de facturación; 
                    e) Gestión de proveedores, f) Gestión económica y contable; g) Suministrar y transferir información personal, comercial y financiera para que sea conocida y tratada por las personas naturales, 
                    juridicas y/o accionistas de LA EMPRESA y a sociedades controlantes, controladas, vinculadas, aliadas, o pertenecientes al mismo grupo empresarial y a cualquier aliado comercial; h) realizar el 
                    tratamiento de datos sensibles como: Huellas dactilares o un cálculo sobre ellas, fotografias, imágenes de video, ubicación espacial, datos de ordenadores, teléfonos y números celulares, VPN, correo 
                    electrónico, que serán utilizados con fines de autenticación e identificación por medio de la firma electrónica y/o digital con el fin de verificar la autenticidad de la autorización. Dicha 
                    información será almacenada y utilizada adicionalmente para ofrecer una capa adicional de seguridad. El titular conoce que no está obligado a autorizar el tratamiento de los datos sensibles a menos 
                    que sea estrictamente necesario para alguno de los fines descritos a requerido por ley, I) Suministrar, transmitir, transferir información personal, comercial y financiera para que sea conocida y 
                    tratada por las personas naturales o juridicas, filiales, matrices accionistas o vinculados económicos de LA EMPRESA como entidades bancarias, aliados comerciales y/o la Comunidad de la empresa, 
                    proveedores nacionales o extranjeros, que presten servicios tecnológicos, logisticos y operativos. j) El control y la prevención del fraude; k) Prevención y control de actividades ilicitas incluyendo, 
                    pero no limitándose al lavado de activos, financiación del terrorismo, soborno transnacional y/o los delitos asociados a corrupción. <br />
                    Así mismo, declaro que LA EMPRESA me ha informado de manera previa y expresa lo siguiente: i) los datos suministrados en la presente solicitud son recolectados atendiendo las disposiciones legales e
					instrucciones de las autoridades competentes en materia de protección de datos personales; ii) El responsable del dicho tratamiento es la empresa <b>seleccionada anteriormente</b> según corresponda la vinculación
					comercial, iii) Que en ciertas situaciones es necesario realizar transferencias Internacionales de mis datos para cumplir con las finalidades del mismo y con las obligaciones contractuales y pos contractuales;
                    iv) Que son facultativas las respuestas a las preguntas que me han hecho o me harán sobre datos personales sensibles, en consecuencia no he sido obligado a responderias, por lo que <b>SI</b><input type="radio" id="pvRadAutSI" name="pvRadAut" value="SI" /> 
                    <b>NO</b><input type="radio" id="pvRadAutNO" name="pvRadAut" value="NO" /> autorizo expresamente el tratamiento de mis datos sensibles, entre los cuales se incluyen los datos de los niños, niñas y adolescentes; 
                    v) los derechos que me asisten como titular de los datos son actualizar, conocer, rectificar, conocer sobre el uso que le darán a mis datos, solicitar prueba de la autorización y/o revocar la misma, los 
                    cuales puedo ejercer a través de los canales de comunicación informados por LA EMPRESA y en la Politica de Tratamiento de Datos Personales, dirigida al encargado de Protección de Datos Personales.<br />
					<b>CONFIDENCIALIDAD Y RESERVA:</b> Toda la información no pública que sea entregada por LA EMPRESA y/o por cualquiera de sus sociedades vinculadas será considerada como CONFIDENCIAL Y RESERVADA, por lo tanto,
					gozará de especial protección, razón por la cual todo acto de divulgación, uso indebido de la información y/o falta de seguridad sobre la misma será considerado como un incumplimiento grave. 
                    El PROVEEDOR reconoce y acepta expresamente que la violación de confidencialidad generará perjuicios graves a LA EMPRESA.<br />

					<b>ÉTICA EMPRESARIAL:</b><br />

                    Declaro que he recibido la información de:<br />

                    <ul>
						<li>Politica de Transparencia y Anticorrupción</li>
						<li>Politica de Prevención y Gestión del Riesgo, de Corrupción y Soborno Trasnacional</li>
						<li>Politica de Derechos Humanos</li>
						<li>Politica para la Prevención del Consumo de Alcohol y Sustancias Psicoactivas</li>
						<li>Sistema de Autocontrol y Gestión del Riesgo Integral de LA/FT/FPADM-SAGRILAFT</li>
                    </ul><br />
                    
                    Que conozco en su totalidad su contenido y por lo tanto entiendo las obligaciones, responsabilidades, deberes y derechos alli contenidos, velando por el cabal cumplimiento de lo dispuesto en las politicas - procedimientos
                    y por lo tanto me comprometo a seguir sus principios y normas de conducta.

                    Si conoce algún hecho contrario al código de conducta, ética y el programa anticorrupción dirijase al canal ético:<br />
                    <a target="_blank" href="https://www.lineaeticaratsel.com/index.php?idcategoria=30&entidad=c8b0f5e0795a14fc69bdf4ca76564d57a8bdc379">https://www.lineaeticaratsel.com/index.php?idcategoria=30&entidad=c8b0f5e0795a14fc69bdf4ca76564d57a8bdc379</a>.
                </p>
            </div>
            <div class="panel-actions">
                <button id="cancelAutBtn" type="button" class="btn btn-secondary">Cancelar</button>
                <button id="saveAutBtn" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>

    <div id="loader-container" style="
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        justify-content: center;
        align-items: center;
        ">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
    </div>

    @Html.Partial("_Footer")

    <script src="~/js/FormUnicProv.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
