<!DOCTYPE html>
<html lang="es-co">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/alerts.css" rel="stylesheet" />
    <link href="~/css/adminActInfoBasica.css" rel="stylesheet" />
    <link href="~/images/icono-web.webp" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Proveedores USC</title>
</head>
<body>
    <main class="main-page-container">
        @Html.Partial("_NavAdmin")
        <section class="page-content">
            <div class="content-header">
				<h1>Actualizar Información Básica</h1>
            </div>
            <div class="form-group">
                <label for="personType">Seleccione el Tipo de Persona:</label>
                <select id="personType">
					<option value="" disabled selected>-- Seleccione una opción --</option>
                    <option value="natural">Persona Natural</option>
					<option value="juridica">Persona Jurídica</option>
				</select>
            </div>

            <div id="idSection" class="form-group">
                <label for="idNum">Número de Identificación:</label>
				<input type="text" id="idNum" name="idNum" placeholder="Número"/>
                <button id="consultBtn" class="button-group">Consultar</button>
            </div>

            <div id="alertContainer"></div>

            <form id="persNatuForm" class="form-section" style="display:none;">

                <h2>Persona Natural</h2>
				<div class="flex-container">
					<div class="form-group half-width">
                        <label for="pnNombreCompl">Nombre Completo:</label>
                        <input type="text" id="pnNombreCompl" name="pnNombreCompl" />
                    </div>
                </div>

                <div class="form-group flex-container">
                    <label>Nacionalidad:</label>
                    <div class="form-check form-check-inline">
						<input type="radio" id="radNacional" name="pnRadNac" value="Nacional" /><label>Nacional</label>
						<input type="radio" id="radExtranjero" name="pnRadNac" value="Extranjero" /><label>Extranjero</label>
                    </div>
                </div>

                <div id="seccionNacional" style="display:none;">
                    <h3 class="sub-header">Personas Nacionales</h3>
                    <div class="flex-container">
                        <div class="form-group half-width">
                            <label>Tipo de Documento:</label>
                            <div class="radio-group">
                                <input type="radio" id="pnNac-CC" name="pnNacDoc" value="CC" /><label for="pnNac-CC">CC</label>
                                <input type="radio" id="pnNac-NIT" name="pnNacDoc" value="NIT" /><label for="pnNac-NIT">NIT</label>
                            </div>
                        </div>
                        <div class="form-group half-width">
                            <label for="pnNac-Num">N°:</label>
                            <input type="text" id="pnNacNum" name="pnDocNum" disabled />
                        </div>
                    </div>
                </div>

				<div id="seccionExtranjera" style="display:none;">
                    <h3 class="sub-header">Personas Extranjeras</h3>
                    <div class="flex-container">
                        <div class="form-group half-width">
                            <label>Tipo de Documento:</label>
                            <div class="radio-group">
                                <input type="radio" id="pnExt-CE" name="pnExtDoc" value="CE" /><label for="pnExt-CE">CE</label>
                                <input type="radio" id="pnExt-PAS" name="pnExtDoc" value="PAS" /><label for="pnExt-PAS">Pasaporte</label>
                                <input type="radio" id="pnExt-CAR" name="pnExtDoc" value="CAR" /><label for="pnExt-CAR">Carné Dir. Producido Min Rel. Ext</label>
                            </div>
                        </div>
                        <div class="form-group half-width">
                            <label for="pnExt-Num">N°:</label>
                            <input type="text" id="pnExtNum" name="pnDocNum" disabled />
                        </div>
                    </div>
                </div>

				<div class="flex-container">
					<div class="form-group half-width">
                        <label for="pnFechaExpDoc">Fecha de Expedición de Documento de Identidad:</label>
                        <input type="date" id="pnFechaExpDoc" name="pnFechaExpDoc" />
                    </div>
                    <div class="form-group half-width">
						<label for="pnLugExpDoc">Lugar de Expedición de Documento de Identidad:</label>
                        <input type="text" id="pnLugExpDoc" name="pnLugExpDoc" />
					</div>
                </div>
				<div class="flex-container">
                    <div class="form-group half-width">
						<label for="pnFechaNac">Fecha de Nacimiento:</label>
                        <input type="date" id="pnFechaNac" name="pnFechaNac" />
                    </div>
					<div class="form-group half-weidth">
						<label for="pnLugNac">Lugar de Nacimiento:</label>
                        <input type="text" id="pnLugNac" name="pnLugNac" />
                    </div>
                </div>

				<div class="flex-container">
                    <div class="form-group half-width">
						<label for="pnNacionalidad">Nacionalidad:</label>
                        <input type="text" id="pnNacionalidad" name="pnNacionalidad" />
					</div>
					<div class="form-group half-width">
                        <label for="pnDiResidencia">Dirección de Residencia:</label>
                        <input type="text" id="pnDiResidencia" name="pnDiResidencia" />
                    </div>
                </div>

                <div class="flex-container">
					<div class="form-group half-width">
                        <label for="pnCiudad">Ciudad:</label>
                        <input type="text" id="pnCiudad" name="pnCiudad" />
                    </div>
                    <div class="form-group half-width">
						<label for="pnTelefono">Teléfono Fijo:</label>
                        <input type="text" id="pnTelefono" name="pnTelefono" />
					</div>
                </div>

                <div class="flex-container">
					<div class="form-group half-width">
						<label for="pnCelular">Teléfono Celular:</label>
                        <input type="text" id="pnCelular" name="pnCelular" />
                    </div>
                    <div class="form-group half-width">
						<label for="pnEmail">Correo Electrónico:</label>
                        <input type="email" id="pnEmail" name="pnEmail" />
                    </div>
                </div>

                <div class="flrex-container">
                    <div class="form-group half-width">
                        <label for="pnOficProfe">Oficio o Profesión:</label>
                        <input type="text" id="pnOficProfe" name="pnOficProfe" />
                    </div>
                    <div class="form-group half-width">
                        <label for="pnActividad">Actividad:</label>
                        <select id="pnActividad" name="pnActividad">
                            <option value="" disabled selected>-- Seleccione una opción --</option>
                            <option value="dependiente">Dependiente</option>
							<option value="independiente">Independiente</option>
                        </select>
                    </div>
                </div>

				<h3 class="sub-header">Marque según su perfil, cargo y/u ocupación</h3>
                <div class="flex-container">
					<div class="form-group half-width">
						<label>Goza de Reconocimiento Público:</label>
                        <div class="radio-group">
							<input type="radio" id="pnReconoPblSi" name="pnReconoPublic" value="Si" /><label for="pnReconoPblSi">Sí</label>
							<input type="radio" id="pnReconoPblNo" name="pnReconoPublic" value="No" /><label for="pnReconoPblNo">No</label>
                        </div>
                    </div>
					<div class="form-group half-width">
                        <label>Maneja Recurson Públicos:</label>
						<div class="radio-group">
							<input type="radio" id="pnManRePubSi" name="pnManRePub" value="Si" /><label for="pnManRePubSi">Sí</label>
                            <input type="radio" id="pnManRePubNo" name="pnManRePub" value="No" /><label for="pnManRePubNo">No</label>
						</div>
                    </div>
                </div>

				<div class="flex-container">
                    <div class="form-group half-width">
						<label>Es Persona Expuesta Politicamente:</label>
						<div class="radio-group">
							<input type="radio" id="pnPEPSi" name="pnPEP" value="Si" /><label for="pnPEPSi">Sí</label>
							<input type="radio" id="pnPEPNo" name="pnPEP" value="No" /><label for="pnPEPNo">No</label>
                        </div>
                    </div>
                    <div class="form-group half-width" id="pnPEPtypeGroup" style="display:none;">
						<label>Tipo de PEP:</label>
                        <div class="checkbox-group">
							<input type="checkbox" id="pnPEP-Nac" name="pnPEPType" value="1" /><label for="pnPEP-Nac">PEP Nacional</label>
							<input type="checkbox" id="pnPEP-OrgInt" name="pnPEPType" value="2" /><label for="pnPEP-OrgInt">PEP Org.Internacional</label>
							<input type="checkbox" id="pnPEP-Ext" name="pnPEPType" value="3" /><label for="pnPEP-Ext">PEP Extranjero</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="pnPEP_Entidad_Container" style="display:none;">
					<label for="pnPEP_Entidad">En caso afirmativo señale la entidad:</label>
                    <input type="text" id="pnPEP_Entidad" name="pnPEP_Entidad" />
                </div>

                <div class="button-group">
                    <button type="submit" id="submitPnBtn">Guardar Persona Natural</button>
                </div>
            </form>

            <form id="persJuriForm" class="form-section" style="display:none;">
				<h2>Persona Jurídica</h2>
				<div class="flex-container">
                    <div class="form-group half-width">
						<label for="pjRazSocial">Razón Social:</label>
                        <input type="text" id="pjRazSocial" name="pjRazSocial" />
                    </div>
					<div class="form-group half-width">
                        <label for="pjNIT">NIT:</label>
                        <input type="text" id="pjNIT" name="pjNIT" disabled />
                    </div>
				</div>

				<h3 class="sub-header">Direcciones</h3>
                <div id="direcPrincipal">
                    <div class="form-group">
						<label for="pjDirPrincipal">Dirección Oficina Principal:</label>
                        <input type="text" id="pjDirPrincipal" name="pjDirPrincipal" />
                    </div>
                    <div class="flex-container">
						<div class="form-group half-width">
							<label for="pjCiudadDirPrincipal">Ciudad:</label>
                            <input type="text" id="pjCiudadDirPrincipal" name="pjCiudadDirPrincipal" />
                        </div>
                        <div class="form-group half-width">
                            <label for="pjEmailDirPrincipal">E-mail:</label>
                            <input type="email" id="pjEmailDirPrincipal" name="pjEmailDirPrincipal" />
                        </div>
						<div class="form-group half-width">
							<label for="pjTelDirPrincipal">Teléfono:</label>
                            <input type="text" id="pjTelDirPrincipal" name="pjTelDirPrincipal" />
                        </div>
                    </div>
                </div>

                <div id="sucursales-container">
                    <div class="sucursal-item" id="sucursal_1">
						<h4>Dirección sucursal 1</h4>
						<div class="form-group">
							<label for="pjDirSucursal_1">Dirección Sucursal:</label>
                            <input type="text" id="pjDirSucursal_1" name="pjDirSucursal_1" />
                        </div>
						<div class="flex-container">
							<div class="form-group half-width">
								<label for="pjCiudadDirSucursal_1">Ciudad:</label>
                                <input type="text" id="pjCiudadDirSucursal_1" name="pjCiudadDirSucursal_1" />
                            </div>
							<div class="form-group half-width">
								<label for="pjEmailDirSucursal_1">E-mail:</label>
                                <input type="email" id="pjEmailDirSucursal_1" name="pjEmailDirSucursal_1" />
                            </div>
							<div class="form-group half-width">
								<label for="pjTelDirSucursal_1">Teléfono:</label>
                                <input type="text" id="pjTelDirSucursal_1" name="pjTelDirSucursal_1" />
                            </div>
                        </div>
                    </div>
                </div>
				<button id="addSucursalBtn" class="button-group">Agregar Sucursal</button>
                <p id="sucursal_limit_msg" style="color:red; display:none;">Máximo 3 sucursales (principal + 2 adicionales).</p>


				<p class="sub-header">Identifique la persona natural que ejerza control sobre la persona juridica o que sea titular, directa o indirectamente, del cinco por ciento (5%) 
                    o más del capital o derechos de voto y/o se beneficie en un cinco por ciento (5%) o mas de los rendimientos, utilidades o Activos.</p>
                <p>En caso de requerir más espacios debe anexarse la relación.</p>

                <table id="control-table">
                    <thead>
                        <tr>
                            <th>Razón Social o Nombre Completo</th>
                            <th>Tipo de Identificación</th>
                            <th>Número de Identificación</th>
                            <th>Porcentaje de Participación (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="control-row">
                            <td><input type="text" name="controlRazonSocial[]" style="width:100%;" /></td>
                            <td>
                                <select name="controlIdType[]">
                                    <option value="CC">CC</option>
                                    <option value="NIT">NIT</option>
                                </select>
                            </td>
                            <td><input type="text" name="controlIdNum[]" style="width:100%;" /></td>
                            <td><input type="number" name="controlPorcentaje[]" style="width:100%;" /></td>
                            <td><button type="button" class="remove-control-row">Eliminar</button></td>
                        </tr>
					</tbody>
                </table>
				<button id="addControlRowBtn" class="button-group">Agregar Fila</button>

                <div class="button-group">
                    <button type="submit" id="submitPjBtn">Guardar Persona Jurídica</button>
				</div>
            </form>
        </section>


    </main>

    <div id="loader-container" style="
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        justify-content: center;
        align-items: center;
        ">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
            </div>
    </div>

    @Html.Partial("_Footer")

    <script src="~/js/EditProfileScript.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		document.addEventListener('DOMContentLoaded', function(){
            const personTypeSelect = document.getElementById('personType');
            const idNumInput = document.getElementById('idNum');
            const consultBtn = document.getElementById('consultBtn');
            const alertContainer = document.getElementById('alertContainer');
            const idSection = document.getElementById('idSection');
            const persNatuForm = document.getElementById('persNatuForm');
            const persJuriForm = document.getElementById('persJuriForm');
			const loaderContainer = document.getElementById('loader-container');

            //elementos del formulario de persona natural para PEP
            const pnPEPYes = document.getElementById('pnPEPSi');
            const pnPEPNo = document.getElementById('pnPEPNo');
            const pnPEPtypeGroup = document.getElementById('pnPEPtypeGroup');
            const pnPEP_Entidad = document.getElementById('pnPEP_Entidad_Container');
            const submitPnBtn = document.getElementById('submitPnBtn');

            //elementos del formulario de persona juridica para sucursales
            const addSucursalBtn = document.getElementById('addSucursalBtn');
            const sucursalesContainer = document.getElementById('sucursales-container');
            const sucursalLimitMsg = document.getElementById('sucursal_limit_msg');
            const addControlRowBtn = document.getElementById('addControlRowBtn');
            const controlTableBody = document.querySelector('#control-table tbody');
            const submitPjBtn = document.getElementById('submitPjBtn');

            const radNacional = document.getElementById('radNacional');
            const radExtranjero = document.getElementById('radExtranjero');
            const seccionNacional = document.getElementById('seccionNacional');
            const seccionExtranjera = document.getElementById('seccionExtranjera');
            const inputNacNum = document.getElementById('pnNacNum');
            const inputExtNum = document.getElementById('pnExtNum');
			const radiosNacDoc = document.querySelectorAll('input[name="pnNacDoc"');
			const radiosExtDoc = document.querySelectorAll('input[name="pnExtDoc"');
			let isNewDetail = false;

            function selecNacionalidad(){
				const idNumValue = idNumInput.value;
				if (radNacional.checked){
					seccionNacional.style.display = 'block';
					seccionExtranjera.style.display = 'none';
					if (inputNacNum) inputNacNum.value = idNumValue;
					clearRadios(radiosExtDoc);
				}else if (radExtranjero.checked){
                    seccionNacional.style.display = 'none';
					seccionExtranjera.style.display = 'block';
					if (inputExtNum) inputExtNum.value = idNumValue;
					clearRadios(radiosNacDoc);
				}else{
					seccionNacional.style.display = 'none';
					seccionExtranjera.style.display = 'none';
					clearRadios(radiosNacDoc);
					clearRadios(radiosExtDoc);
                }
            }
			if (radNacional) radNacional.addEventListener('change', selecNacionalidad);
			if (radExtranjero) radExtranjero.addEventListener('change', selecNacionalidad);
			selecNacionalidad();

            //funcion para crear alertas
            function createAlert(message, type='warning'){
                alertContainer.innerHTML = `
                    <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                        ${message}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            `;
            }

            //funcion para precargar los datos del formulario
            function loadFormData_Natural(data){
                
                $("#pnNombreCompl").val(data.pnNombreCompl);
				$("#pnTipoNacionalidad").val(data.pnTipoNacionalidad);

                if (data.pnNacDoc === "S") $("#pnRadNac").prop("checked", true);
				if (data.pnExtDoc === "S") $("#pnRadExt").prop("checked", true);

                $("#pnFechaExpDoc").val(data.pnFechaExpDoc);
                $("#pnLugExpDoc").val(data.pnLugExpDoc);

                $("#pnFechaNac").val(data.pnFechaNac);
                $("#pnLugNac").val(data.pnLugNac);

                $("#pnNacionalidad").val(data.pnNacionalidad);
                $("#pnDiResidencia").val(data.pnDiResidencia);
                $("#pnCiudad").val(data.pnCiudad);

                $("#pnTelefono").val(data.pnTelefono);
                $("#pnCelular").val(data.pnCelular);
                $("#pnEmail").val(data.pnEmail);

                $("#pnOficProfe").val(data.pnOficProfe);
                $("#pnActividad").val(data.pnActividad);

                $("#pnReconoPublic").val(data.pnReconoPublic);
                $("#pnManRePub").val(data.pnManRePub);

                if (data.pnPEP === "S") $("#pnPEP_Si").prop("checked", true);
                else $("#pnPEP_No").prop("checked", true);

                $("#pnPEP_Entidad").val(data.pnPEP_Entidad);

                $("#input[name='PEPTypes']").each(function(){
                    const value = parseInt($(this).val());
                    if (data.PEPTypes.includes(value)){
                        $(this).prop("checked", true);
                    }
                });
            }

            //funcion para limpiar los radioButtons de nacionalidad
            function clearRadios(radioGroup){
                radioGroup.forEach(radio  => radio.checked = false);
            }

            //funcion para precargar datos de proveedores_Master
            function loadMasterData(masterData, formId, idNum){

                if (formId === 'persNatuForm'){
					document.getElementById('idNum').value = idNum;
                }

                //Precarga el resto de la data de proveedores_Master (si existe)
                if (masterData){
                    if (formId === 'persNatuForm'){
                        //precarga los campos que coincida con la data de master
						document.getElementById('pnNombreCompl').value = masterData.nombre || '';
						document.getElementById('pnDiResidencia').value = masterData.direccion || '';
						document.getElementById('pnEmail').value = masterData.correo || '';

                        //logica para separar tel fijos de celular de master
						const phone = masterData.telefono || '';
						const pnTelefono = document.getElementById('pnTelefono');
						const pnCelular = document.getElementById('pnCelular');

						if (pnTelefono) pnTelefono.value = '';
						if (pnCelular) pnCelular.value = '';

                        if (phone.startsWith('6') && pnTelefono){
							pnTelefono.value = phone;
						}else if (phone.startsWith('3') && pnCelular){
							pnCelular.value = phone;
                        }
                    }
                    else if (formId === 'persJuriForm'){
						//precarga los campos que coincida con la data de master
						document.getElementById('pjRazSocial').value = masterData.nombre || '';
                        document.getElementById('pjDirPrincipal').value = masterData.direccion || '';
						document.getElementById('pjEmailDirPrincipal').value = masterData.correo || '';
						document.getElementById('pjTelDirPrincipal').value = masterData.telefono || '';

						const docInputPJ = document.getElementById('pjNIT');
                        if (docInputPJ){
							docInputPJ.value = idNum;
                            docInputPJ.setAttribute('disabled', 'disabled');
                        }
                    }
				}
            }

            //funcion de consulta en el BACKEND
            consultBtn.addEventListener('click', async function(e){

                const idNum = idNumInput.value.trim();
                const personType = personTypeSelect.value;
                alertContainer.innerHTML = '';

                if (!personType || !idNum){
                    createAlert('Por favor, ingrese el Tipo de persona e ingrese el Numero de Identificación.', 'danger');
                    return;
                }

                persNatuForm.style.display = 'none';
                persJuriForm.style.display = 'none';

                const url = `/Admin/CheckProvider?idNum=${idNum}&personType=${personType}`;

                document.getElementById('loader-container').style.display = 'flex';

                try{
                    const response = await fetch(url);
                    const result = await response.json();

                    if (!response.ok){
                        throw new Error(result.message || 'Error desconocido en la respuesta del servidor.');
                    }

                    const personType = personTypeSelect.value;
					const idNum = idNumInput.value.trim();
                    const formId = personType === 'natural' ? 'persNatuForm' : 'persJuriForm';

					persNatuForm.style.display = 'none';
					persJuriForm.style.display = 'none';

                    //ID no encontrado (proveedor no registrado)
                    if (result.status === 'notFound'){
                        createAlert(`Proveedor con ID: ${idNum} no encontrado. Verifique el ID o registre el nuevo proveedor.`, 'success');

                    }

                    //ID ya registrado con un tipo de persona diferente
                    if (result.status === 'misMatch'){
                        const registeredTypeText = result.registeredType === 'natural' ? 'Persona Natural' : 'Persona Juridica';
                        createAlert(`¡Advertencia! El proveedor con ID: ${idNum} ya esta registrado como ${registeredTypeText}. Para actualizarlo debe seleccionar "${registeredTypeText}" en el desplegable.`, 'warning');
                        return;
                    }

                    //ID solo registrado en proveedores_Master
                    if (result.status === 'foundMasterOnly'){
                        createAlert(`Proveedor con ID: ${idNum} encontrado en la base de datos basica. Conplete y/o actualice la informacion.`, 'info');

						isNewDetail = true;

                        const masterData = result.data;

                        if (personType === 'natural'){
                            persNatuForm.style.display = 'block';
                            loadFormData({}, formId);
                            loadMasterData(masterData, formId, idNum);
                        }else if (personType === 'juridica'){
                            persJuriForm.style.display = 'block';
                            loadFormData({}, formId);
                            loadMasterData(masterData, formId, idNum);
                        }
                        return;
                    }

                    //ID ya registrado en proveedores_Master y en una tabla de tipo de persona
                    if (result.status === 'foundDetail'){
                        createAlert(`Informacion del proveedor con ID: ${idNum} cargada con exito.`, 'success');

						isNewDetail = false;

                        const registeredType = personType;
                        const formData = result.data;
                        const formId = registeredType === 'natural' ? 'persNatuForm' : 'persJuriForm';

                        if (registeredType === 'natural'){
                            persNatuForm.style.display = 'block';
                            loadFormData(formData, formId);
                            loadMasterData(null, formId, idNum);
                        }else if(registeredType === 'juridica'){
                            persJuriForm.style.display = 'block';
                            loadFormData(formData, formId);
                            loadMasterData(null, formId, idNum);
                        }
                        return;
                    }
                        
                    
                } catch(error){
                    createAlert("Error al consultar: " +error.message, 'danger');
                    console.error('Error de Fetch:', error);
                } finally {
                    document.getElementById('loader-container').style.display = 'none';
                }
            });

            //logica para mostrar/ocultar los forms al cambiar el tipo de persona
            personTypeSelect.addEventListener('change', function() {

                persNatuForm.style.display = 'none';
                persJuriForm.style.display = 'none';
                idNumInput.value = '';

                idSection.style.display = 'flex';
                alertContainer.innerHTML = '';
            });

            //logica para mostrar/ocultar campos relacionados con PEP en el form de persona natural
            function handlePEPChange(){
                if(pnPEPYes && pnPEPYes.checked){
                    pnPEPtypeGroup.style.display = 'flex';
                    pnPEP_Entidad.style.display = 'block';
                } else {
                    pnPEPtypeGroup.style.display = 'none';
                    pnPEP_Entidad.style.display = 'none';
                }
            }

            if(pnPEPYes){
                pnPEPYes.addEventListener('change', handlePEPChange);
            }
            if(pnPEPNo){
                pnPEPNo.addEventListener('change', handlePEPChange);
            }
            handlePEPChange();

            //logica para agregar sucursales en el form de persona juridica
            addSucursalBtn.addEventListener('click', function() {
                const currentSucursales = sucursalesContainer.querySelectorAll('.sucursal-item').length;
                const newIndex = currentSucursales + 1;

                if (newIndex > 3) {
                    sucursalLimitMsg.style.display = 'block';
                    return;
                }
                sucursalLimitMsg.style.display = 'none';

                const newSucursalDiv = document.createElement('div');
                newSucursalDiv.className = 'sucursal-item';
                newSucursalDiv.id = `sucursal_${newIndex}`;
                newSucursalDiv.innerHTML = `
                    <h4>Dirección sucursal ${newIndex}</h4>
                    <div class="form-group
                        <label for="pjDirSucursal_${newIndex}">Dirección Sucursal:</label>
                        <input type="text" id="pjDirSucursal_${newIndex}" />
                    </div>
                    <div class="flex-container">
                        <div class="form-group half-width">
                            <label for="pjCiudadDirSucursal_${newIndex}">Ciudad:</label>
                            <input type="text" id="pjCiudadDirSucursal_${newIndex}" />
                        </div>
                        <div class="form-group half-width">
                            <label for="pjEmailDirSucursal_${newIndex}">E-mail:</label>
                            <input type="email" id="pjEmailDirSucursal_${newIndex}" />
                        </div>
                        <div class="form-group half-width">
                            <label for="pjTelDirSucursal_${newIndex}">Teléfono:</label>
                            <input type="text" id="pjTelDirSucursal_${newIndex}" />
                        </div>
                    </div>
                    <button type="button" class="remove-sucursal-btn button-group">Eliminar Sucursal</button>
                `;

                sucursalesContainer.appendChild(newSucursalDiv);
                if (newIndex === 3) {
                    sucursalLimitMsg.style.display = 'block';
                }
            });

            //logica para eliminar sucursales en el form de persona juridica
            sucursalesContainer.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-sucursal-btn')) {
                    const sucursalItem = e.target.closest('.sucursal-item');
                    if (sucursalItem) {
                        sucursalItem.remove();

                        const sucursales = sucursalesContainer.querySelectorAll('.sucursal-item');
                        sucursales.forEach((sucursal, index) => {
                            const newIndex = index + 1;
                            sucursal.id = `sucursal_${newIndex}`;
                            sucursal.querySelector('h4').textContent = `Dirección sucursal ${newIndex}`;

                            sucursal.querySelectorAll('label, input, select').forEach(element => {
                                const oldId = element.id;
                                const newId = oldId ? oldId.replace(/\d+/, newIndex) : null;
                                if (newId) element.id = newId;

                                const oldFor = element.getAttribute('for');
                                const newFor = oldFor ? oldFor.replace(/\d+/, newIndex) : null;
                                if (newFor) element.setAttribute('for', newFor);
                            });
                        });

                        //oculta mensaje del limite si se elimino una sucursal y quedo menos del maximo
                        if (sucursales.length < 3) {
                        sucursalLimitMsg.style.display = 'none';
                        }
                    }
                }
            });

            //logica para agregar filas a la tabla de control Persona Juridica
            function addControlRow(){
                const newRow = document.createElement('tr');
                newRow.className = 'control-row';
                newRow.innerHTML = `
                    <td><input type="text" name="controlRazonSocial[]" style="width:100%;" /></td>
                    <td>
                        <select name = "controlIdType[]">
                            <option value="CC">CC</option>
                            <option value="NIT">NIT</option>
                        </select>
                    </td>
                    <td><input type="text" name="controlIdNum[]" style="width:100%" /></td>
                    <td><input type="number" name="controlporcentaje[]" style="width:100%" /></td>
                    <td><button type="button" class="remove-control-row">Eliminar</button></td>
                `;
                controlTableBody.appendChild(newRow);
            }

            addControlRowBtn.addEventListener('click', addControlRow);

            //logica para eliminar filas de la tabla control Persona Juridica
            controlTableBody.addEventListener('click', function(e) {
                if (e.target.classList.contains('remove-control-row')) {
                    if (controlTableBody.querySelectorAll('.control-row').length > 1) {
                        e.target.closest('.control-row').remove();
                    } else {
                        alert("Debe haber al menos una fila de control.");
                    }
                }
            });

            //inicializa la vista
            window.onload = function(){
                personTypeSelect.value = '';
                persNatuForm.style.display = 'none';
                persJuriForm.style.display = 'none';
                handlePEPChange();
            };

            //logica de conexion al backend
            function sendData(data, url){
                console.log("Enviando datos a:", url, data);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                })
                .then(response => {
                    if (!response.ok){
                        return response.json().then(err => {throw new Error(err.message || 'Error desconocido en el servidor.')});
                    }
                    return response.json();
                })
                .then(result => {
                    alert("¡Exito! " + result.message);
                })
                .catch(error => {
                    alert("Error al guardar: " + error.message);
                    console.error('Error de Fetch:', error);
                });
            }

            function collectFormData(formId){
                const form = document.getElementById(formId);
                const data = {};

                Array.from(form.elements).forEach(element => {

                    if (element.name && element.type !== 'submit' && element.type !== 'button') {
                        if (element.type === 'radio') {
                            if (element.checked) {
                                data[element.name] = element.value;
                            }
                            else if (!(element.name in data)) {
                                data[element.name] = null;
                            }
                        }
                        else if (element.type === 'checkbox') {
                            if (!data[element.name]) {
                                data[element.name] = [];
							}
                            if (element.checked) {
                                data[element.name].push(parseInt(element.value));
                            }
                        }
                        else {
							data[element.name] = element.value.trim() !== "" ? element.value.trim() : null;
                        }
                    }
                });

                if (formId === 'persNatuForm') {
                    data.Nit = document.getElementById('idNum').value;

                    if (document.getElementById('radNacional').checked){
                        data.pnTipoNacionalidad = "Nacional";
                    } else if (document.getElementById('radExtranjero').checked){
                        data.pnTipoNacionalidad = "Extranjero";
					} else {
						data.pnTipoNacionalidad = null;
                    }

                    if (!data["pnPEPType"]) data["pnPEPType"] = [];

                    data.PEPTypes = data["pnPEPType"];
					delete data["pnPEPType"];
                }

                if (formId === 'persJuriForm'){
                    data.Nit = document.getElementById('pjNIT').value;

                    data.Sucursales = [];
                    const sucursales = document.querySelectorAll('#sucursales-container .sucursal-item');

                    sucursales.forEach((sucursal, index) => {
                        const i = index +1;
                        data.Sucursales.push({
                            pjSucursalDir: document.getElementById(`pjDirSucursal_${i}`).value,
                            pjSucursalCiudad: document.getElementById(`pjCiudadDirSucursal_${i}`).value,
                            pjSucursalEmail: document.getElementById(`pjEmailDirSucursal_${i}`).value,
                            pjSucursalTel: document.getElementById(`pjTelDirSucursal_${i}`).value
                        });
                    });

                    data.ControlRow = [];
                    controlTableBody.querySelectorAll('.control-row').forEach(row => {
                        data.ControlRow.push({
                            razonSocial: row.querySelector('[name="controlRazonSocial[]"]').value,
                            idType: row.querySelector('[name="controlIdType[]"]').value,
                            idNum: row.querySelector('[name="controlIdNum[]"]').value,
                            porcentaje: row.querySelector('[name="controlPorcentaje[]"]').value,
                        });
                    });
                }
                return data;
            }

            //listener de submit
            persNatuForm.addEventListener('submit', function(e) {
                e.preventDefault();

				document.querySelectorAll('#pnNacNum, #pnExtNum').forEach(i => i.removeAttribute('disabled'));

                const data = collectFormData('persNatuForm');
                document.querySelectorAll('#pnNacNum, #pnExtNum').forEach(i => i.setAttribute('disabled', 'disabled'));

				const url = isNewDetail ? '/Admin/AddProviderNatural' : '/Admin/UpdateProviderNatural';
                sendData(data, url);
            });

            persJuriForm.addEventListener('submit', function(e) {
                e.preventDefault();

				const pjNIT = document.getElementById('pjNIT');
				if (pjNIT) pjNIT.removeAttribute('disabled');

                const data = collectFormData('persJuriForm');
				if (pjNIT) pjNIT.setAttribute('disabled', 'disabled');

				const url = isNewDetail ? '/Admin/AddProviderJuridica' : '/Admin/UpdateProviderJuridica';
                sendData(data, url);
            });
        });
	</script>
</body>
</html>
